<section class="mx-5 my-2">
  <h3>buscar gifs:</h3>


    <form (keyup.enter)="limiteGif(limite); buscar(txtquery); agregarAHistorial(limite)">
      <input type="text" placeholder="Buscar gifs" #txtquery>
      <input type="number" name="limite" min=0 max=50 [value]=limite [(ngModel)]=limite>
    </form>



  <ul class="row p-0 m-0">
    <li class="d-inline col-2 list-style-none p-0 m-2" *ngFor="let gif of resultados">
      <img class="img-fluid" [src]="gif.images.downsized.url" frameBorder="0">
      <p><a [href]="gif.url">{{gif.title}}></a></p>
    </li>
  </ul>
</section>


